$iconPath :'~/public/icons/';

.smicon {
    animation: fade 6s;
    cursor: pointer;
    outline: 0;
    line-height: 1.5;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    padding: 5px 10px;
    margin-right: 50px;
    margin-top: 30px;
    border-radius: 1.5rem;
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 30px;
    width: 30px;
  
}
  
.smicon.ig {
    background-image: url(#{$iconPath}Instagram.png);
    transition: all 0.2s linear 0s;
    background-color: #4c68d7;
    border-color: #4c68d7;
    background-size: 60%;

    &:hover {
        background-image: url(#{$iconPath}Instagram2.png);
        background-color: transparent;
        border-color: aquamarine;
        transform: translateY(-5px);
        box-shadow: 0px 10px 10px -5px black;
    }
}
  
.smicon.li {
    background-image: url(#{$iconPath}Linkedin.png);
    transition: all 0.2s linear 0s;
    background-color: #0072b1;
    border-color: #0072b1;
    background-size: 60%;

    &:hover {
        background-image: url(#{$iconPath}Linkedin2.png);
        background-color: transparent;
        border-color: aquamarine;
        transform: translateY(-5px);
        box-shadow: 0px 10px 10px -5px black;
    }
}
  
.smicon.gh {
    background-image: url(#{$iconPath}Github.png);
    transition: all 0.2s linear 0s;  
    background-color: #6e5494;
    border-color: #6e5494;
    background-size: 60%;

    &:hover {
        background-image: url(#{$iconPath}Github2.png);
        background-color: transparent;
        border-color: aquamarine;
        transform: translateY(-5px);
        box-shadow: 0px 10px 10px -5px black;
    }
}

.smicon.uw {
    background-image: url(#{$iconPath}Upwork.png);
    transition: all 0.2s linear 0s; 
    background-color: #17a700;
    border-color: #17a700;
    background-size: 70%;

    &:hover {
        background-image: url(#{$iconPath}Upwork2.png);
        background-color: transparent;
        border-color: aquamarine;
        transform: translateY(-5px);
        box-shadow: 0px 10px 10px -5px black;
    }
}
    