@keyframes slide-up {
  0% {transform: translateY(100px)}
  40% {transform: translateY(100px)}
  100% {transform: translateY(0)}
}

@keyframes fade {
  0% {opacity: 0}
  30% {opacity: 0}
  100% {opacity: 1}
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(14.0deg) }  
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) }  
  100% { transform: rotate( 0.0deg) }
}


.page-header {
  height: 80vmin;
  display: flex;
  font-size: calc(10px + 2vmin);
  flex-direction: column;
  justify-content: center;
  
}

.content-box {
  overflow: hidden;
}

.image-auto {
  max-width:100%;
  max-height:100%;
}

.title {
  animation: slide-up 2s;
  font-family: Helvetica;
  color: white;
  text-align: left;
}

.text {
  animation: fade 6s;
  font-family: Alexandria;
  font-weight: lighter;
  color: lightgray;
  font-size: 24px;
  letter-spacing: 2px;
  text-align: left;
}

.home-button1 {
  animation: fade 6s;
  cursor: pointer;
  outline: 0;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.5;
  width: 150px;
  text-align: center;
  background-color: black;
  border: 1px solid transparent;
  padding: 6px 35px;
  border-radius: 1.5rem;
  color: white;
  border-color: black;
  display: inline-block;
  position: relative;
  overflow: hidden;

}

.home-button1.effect {
  transition: all 0.2s linear 0s;

}

.home-button1.effect:before {
  content: "→";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 10px;
  top: 0;
  opacity: 0;
  height: 100%;
  width: 50px;
  transition: all 0.2s linear 0s;

}

.home-button1.effect:hover {
  text-indent: -10px;
  background-color: transparent;
  color: orange;
  border-color: orange;

}

.home-button1.effect:hover::before {
  opacity: 1;
  text-indent: 0px;

}

.home-button2 {
  animation: fade 6s;
  cursor: pointer;
  outline: 0;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.5;
  width: 200px;
  text-align: center;
  background-color: black;
  border: 1px solid transparent;
  padding: 6px 35px;
  margin-right: 10px;
  border-radius: 1.5rem;
  color: white;
  border-color: black;
  display: inline-block;
  position: relative;
  overflow: hidden;

}

.home-button2.effect {
  transition: all 0.2s linear 0s;

}

.home-button2.effect:before {
  content: "↓";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 10px;
  top: 0;
  opacity: 0;
  height: 90%;
  width: 50px;
  transition: all 0.2s linear 0s;

}

.home-button2.effect:hover {
  text-indent: 10px;
  background-color: transparent;
  color: aquamarine;
  border-color: aquamarine;
}

.home-button2.effect:hover::before {
  opacity: 1;
  text-indent: 0px;

}

.wave {
  animation-name: wave-animation; 
  animation-duration: 2.5s;   
  animation-delay: 4s;      
  animation-iteration-count: 1;  
  transform-origin: 70% 70%;       
  display: inline-block;
}



