.page {
  text-align: left;
  font-family: Helvetica;
}

.page-header {
  background-color: #202431;
  height: 80vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.text {
  font-family: Alexandria;
  font-weight: lighter;
  color: lightgray;
  font-size: x-large;
  letter-spacing: 2px;
}

